# Entorno virtual
.venv/
env/
venv/

# Secretos - NUNCA commitear
.env

# Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Editor
.vscode/
*.swp
.DS_Store

# Tests
.coverage
htmlcov/
.pytest_cache/
